node_modules/
npm-debug.log
yarn-error.log
package-lock.json

logs/
*.log
*.log.*

dist/
/app/build/
app/build/
/app/resource/
/electron-builder/


venv/
env/
.venv/
.env/
.env

.pytest_cache/
*.pid

.pyre/
.mypy_cache/
.pylint.d/

.DS_Store

.vscode/